@model IEnumerable<Tangy.Models.LinkItem>
@{
    ViewData["Title"] = "קישורים";
}

<h2>ניהול קישורים</h2>

<hr />
<p>
    <a asp-action="Create" type="button" class="btn btn-primary">
        <i class="fas fa-plus"></i>
        &nbsp; חדש...
    </a>
</p>

<div class="form-border">
    <div class="container">
        <div class="row font-weight-bold">
            <div class="col">
                @Html.DisplayNameFor(model => model.OrderId)
            </div>
            <div class="col">
                @Html.DisplayNameFor(model => model.Subject)
            </div>
            <div class="col">
                @Html.DisplayNameFor(model => model.isActive)
            </div>
            <div class="col">
            </div>
        </div>

        <hr style="border: none;height: 1px;color: #333; background-color: #333;" />

        @foreach (var item in Model)
        {
        <div class="row">
            <div class="col">
                @Html.DisplayFor(modelItem => item.OrderId)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Subject)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.isActive)
            </div>
            @Html.Partial("_DivButtonPartial", item.Id)
        </div>
        <hr />
        }
    </div>
</div>